<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">
        info4u
    </title>
    <link rel="icon" type="image/gif/png" href="../src/info4u/images/icon.png">
    <link rel="stylesheet" href="../webix/webix.css" type="text/css">
    <link rel="stylesheet" href="../src/info4u/css/basic.css">
    <link rel="stylesheet" href="../src/info4u/css/login.css">
    <link rel="stylesheet" href="../src/info4u/css/info4u.css">
    <script src="../webix/webix.js" type="text/javascript"></script>
    <script src="../webix_custom.js" type="text/javascript"></script>
    <script src="../src/info4u/app/js/INFO4U.js" type="text/javascript"></script>
</head>
<body>
    <div class="banner">
        <div class="logo">
        </div>
        <h2 class="title">Info4u</h2>
    </div>
</body>
<script>
</script>